footer {
    position: relative;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: f1fbff;
}

p, a {
    font-size: 20px;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.section-padding {
    padding: 100px 0;
}

#titles {
    font-weight: bold;
}

.btn {
    font-family: 'League Spartan', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'League Spartan', sans-serif;
}

.input-form-text {
    width: 50%;
    margin: 16px 0;
}

.carousel-item {
    height: 32rem;
    position: relative;
}

.carousel-caption {
    bottom: 50px;
    z-index: 2;
}

    .carousel-caption h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    .carousel-caption p {
        width: 60%;
        margin: auto;
        font-size: 18px;
        line-height: 1.9;
    }

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px 34px;
    border-radius: 10px;
    color: white;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #ffffff;
    background: #1d1d1d;
    color: #ffffff;
}

    .hero-btn:hover {
        border: 1px solid #ffc107;
        background: #ffc107;
        color: black;
        transition: 0.3s;
    }

.nav-container {
    max-width: 1600px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.navbar-light .navbar-nav .navbar-link {
    color: #000;
}

.w-100 {
    height: 100vh;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }

        .carousel-caption p {
            width: 100px;
        }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

        .carousel-caption h5 {
            font-size: 17px;
        }

        .carousel-caption a {
            padding: 10px 15px;
            line-height: 1.6;
            font-size: 12px;
        }
}
